<p>Hey there, <%= @to.name %>, you've received a whisky from <%= @from.name %>!!</p>

<p><%= @from.name %> has been CC'd on this email - reply to them to claim your whisky!</p>

<p>Thanks,</p>

<p>-Jin.</p>
