

    <div class="home">
        <h1 class ="homepagetext">Stories for whiskies </h1>

        <h2>我有故事，你有酒吗?</h2>

      </br>

      </br>
        <p><a href ="/stories/new" class="style2" ><button type="button"> I have stories to trade your Whiskies</a></button></p>
        <p><a href ="/stories" class="style2"> <button type="button"> I have Whiskies to trade your stories</a></button></p>


    </div>

    <div class ="home-image">
      <%= image_tag("scotch.jpg")%>
    </div>
  </br>
