
<div class ="main">
<h1>Stories for whiskies </h1>


<h2>我有故事，你有酒吗 ?</h2>


</br>


<p><a href ="/stories/new" class="style2" > I have stories    </a></p>
<p><a href ="/stories" class="style2"> I have Whiskies  </a></p>


</div>
