


<div class = "story-index">
<h3>  here is our list of stories from all over Sydney </h3>

  <% @stories.each do |story| %>
   <table style="width:100%">

  <tr>
    <td><%= link_to story.title, story_path(story.id) %></td>
    <td>by <%= link_to story.user.email, user_path(story.user_id) %></td>

  </tr>

</table>

<% end %>

</div>
