


<div class = "story-index">
  <h4>  Here is our list of stories from all over Sydney </h4>


  <table style="width:50%">
    <tr>
      <th>Story</th>
      <th>User</th>
    </tr>
    <% @stories.each do |story| %>
      <tr>
        <td><%= link_to story.title, story_path(story.id) %></td>
        <td>by <%= story.user.name %></td>
      </tr>
    <% end %>
  </table>
</div>
