div.main{
     padding: 150px 0;
     /*border: 3px solid green;*/
     text-align:center;
     display:block;
}


body {

  /*background-image: url('/assets/scotch.jpg');*/
  /*background-image: url('/assets/chinese.jpg');*/
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 15px;
  line-height: 18px;
}


.navigation li a {
    line-height: 100px;
    letter-spacing: 2px;
    font-size: 11px;
    color: #fff;
    display: block;
    width: 100px;
    position: relative;
}

/*
a {
  color: #000;
  text-decoration:none;

  &:visited {
    color: #666;
  }

  &:hover {
    color: #fff;
    background-color: #000;
  }
}*/

/*
ul{
    list-style-type: none;
}*/


button {
    background-color: grey;
    border: none;
    color: white;
    padding: 8px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
