body {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 11px;
  line-height: 15px;
}

.home-image {
  z-index: -1;
  width:100%;


}

.new-story {
  background-color: transparent;

}


.homepagetext {
  font-family: 'Tangerine', serif;
  font-size: 100px;
}
.main{
     padding: 120px 0;
     /*border: 3px solid green;*/
     display:block;
}

.log-in h4 {
  text-align: center;
}


.home {

  padding: 30px;
}
.sign-up{
  margin-right: 0;
  margin-left: 0;
  background-color: #fff;
  border-color: #ddd;
  border-width: 1px;
  border-radius: 4px 4px 0 0;
}

.story-show {
  display:block;
  position: absolute;

  height: 400px;
  width: 500px;

}



img {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
    width:100%;
}
